table td{
    border-width: 3px;
    border-style: dotted;
    border-color: black;
}
img{
    width: 200px;
}
body{
    background-color: cadetblue;
}
table{
    background-color: coral;
    width: 900px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}